.thumbnail:hover{
    transform:scale(1.1,1.1);
    border:2px solid black;
    border-width:1px;
    background-color:white;
}
.navbar-brand{
    font-family: Tillana, handwriting;
    font-size: 40px;
    font-weight: bold;
    font-style: oblique;
    padding-top:-10px;
}
.navbar{
    background-color:white;    
}
.carousel{
    margin-bottom:50px;
    margin-top:-20px;
}

#col1 .panel-title{
    font-size:30px;
    margin-bottom:40px;
    margin-top:20px;
    padding-bottom:20px;
    padding-top:20px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    font-weight: bold;
}

#col1 .list-group{
    font-size:20px;
    text-align:center;   
}

#col1 .list-group .btn-group .btn1{
    font-size: 20px;
    border-radius: 20px;
    background-color: #6ab4fe;
    width: 300px;
    padding: 10px 0;
    color: black;
    margin-right:8px;
    padding-right:30px;
    padding-left:30px;
    text-decoration:none; 

}



#col2 .panel-title{
    font-size:30px;
    margin-bottom:40px;
    margin-top:20px;
    padding-bottom:20px;
    padding-top:20px;
    font-weight: bold;
    background-color:rgb(200,200,200,0.5);
}

.thumbnail{
    background-color:rgb(200,200,200,0.5);
    text-align:center;
    font-size:17px;   
}
.thumbnail:after{
    filter: blur(5px);    
}